#menu{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


#menu ul{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.menu-list a{
    color: white;
}
#menu #profile-img img{
    border-radius: 50%;
}