.App{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user-created{
    width: 40%;
  }
  .user-form{
    display: flex;
    flex-direction: column;
  }
  .user-label{
    margin: 10px 0;
  }
  .user-input{
    padding: 10px;
    border-radius: 10px;
  }
  .user-button{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
  }
  .user-button:hover{
    background-color: white;
    color: blue;
  }
  .user-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    width: 350px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
  }
  .card-button{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }
  #btn-delete{
    background-color: red;
    color: white;
    border : 1px solid red;
  }
  #btn-update{
    background-color: green;
    color: white;
    border : 1px solid green;
  }
  .user-updated{
    display: flex;
    flex-direction: column;
    
  }
  .user-update-form{
    display: flex;
    flex-direction: column;
  }
  
  .user-update-label{
    margin: 5px 0;
  }
  .user-update-input{
    padding: 10px;
    border-radius: 10px;
  }
  