.Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid blue;
    padding: 10px;
    text-align: left;
    margin: 0 auto;
    background-color: #d8d8d8;
}
.Footer-Title{
    color: blue;
    font-size: 30px;
}
.Footer-List{
    list-style-type: none;
    margin: 0;
}
.Footer-List li{
    margin: 0;
    padding: 10px;
}
.Copyright{
    font-size: 20px;
    font-weight: bolder;
}