*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}

/* HEADER BÖLÜMÜ */
#header{
    background-color: #212529;
    width: 100%;
    position: fixed;
    top: 0;
}
#logo img{
    color: #FED136;
    width: 50%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;    
}

#navbar ul{
    display: flex;
}
#navbar ul li{
    padding: 1rem;
}


/* PAGE-IMAGE*/

#page-image{
    background-image: url(../images/header-bg.jpg);
    background-position: center;
    height: 400px;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

#page-image h1{
    font-size: 1.6rem;
    color: #fff;
    margin: .5rem auto;
}

#page-image h2{
    font-size: 3.2rem;
    color: #fff;
    /* margin: .5rem auto; */
}

/* ============== SERVICES =========== */
#services .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}
.services{
    display: flex;
    justify-content: space-around;
}
#services h2{
    font-size: 3.4rem;
}
#services h3{
    opacity: .6;
    font-size: 1.6rem;
    font-style: italic;
}
.service{
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service .image-box{
    padding: 2rem;
    background-color: var(--secondary);
    border-radius: 50%;
    text-align: center;
}
.service i{
    font-size: 7rem;
    color: white;
    padding: 3rem;
    border-radius: 50%;
}
.service h4{
    font-size: 2rem;
    margin: 1rem auto;
}
.service p{
    text-align: center;
    line-height: 2rem;
    font-size: 1.6rem;
    opacity: .5;
}

/* ======== PORTFOLIO ========= */

#portfolio .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

#portfolio h2{
    font-size: 3.4rem;
}

#portfolio h3{
    opacity: .6;
    font-size: 1.6rem;
    font-style: italic;
}

.cards{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.card{
    width: 33%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card img{
    width: 100%;
}
.card h4{
    font-size: 2rem;
    margin: 1rem auto;
}

.card p{
    text-align: center;
    line-height: 2rem;
    font-size: 1.6rem;
    opacity: .5;
}

/* ============== AMAZING TEAMS ================ */

#amazing{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #eee; */
}

#amazing h2, #contact h2{
    font-size: 3.4rem;
}

#amazing h3, #contact h3{
    opacity: .6;
    font-size: 1.6rem;
    font-style: italic;
}
.teams{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.team img{
    width: 50%;
    border: 7px solid silver;
    border-radius: 50%;
}

.team h4{
    font-size: 2rem;
    /* margin: 0.5rem auto; */
}
.team p{
    text-align: center;
    line-height: 2rem;
    font-size: 1.6rem;
    opacity: .5;
}

.team .social{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 1rem auto; 
}
.social i{
    color: white;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 50%;
    margin: .75rem;
}
#amazing-text{
    font-size: 1.4rem;
    text-align: center;
    width: 50%;
    opacity: .6;
    margin-bottom: 1rem;
}

/* ============== CONTACT ============= */

#contact{
    background-color: #ddd;
}

#contact .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}
.contact-form{
    display: flex;
    justify-content: space-around;
}
.left-contact, .right-contact{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 1rem;
 
}

.left-contact input{
    font-size: 3.2rem;
    width: 100%;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
}
.right-contact textarea{
    font-size: 3.2rem;
    width: 100%;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
}
#contact a{
    font-size: 3.2rem;
}