.Products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 1px solid silver;
}
.Product {
  border: 1px solid silver;
  padding: 5px;
  height: 250px;
  text-align: start;
}
.Product img {
  width: 100%;
  height: 100px;
}
.Product p {
  margin: 2px;
}
.Box {
  padding: 3px;
  width: 25%;
}
